{% extends 'base.html.twig' %}
{% block title %}Chefs des projets{% endblock %}

{% block form %}
        {% include 'Form/addManager.html.twig' %}
{% endblock %}

{% block body %}
<link href="{{ asset('styles/users.css') }}" rel="stylesheet"/>

<h1 class="titre-liste">Liste des chefs de projets</h1>

<table class="user-table">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'ID', 'u.id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Nom', 'u.nom') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Dernière connexion', 'u.lastLogin') }}</th>
            <th>Nombre de projets</th>
        </tr>
    </thead>
    <tbody>
        {% for user in pagination.items %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }} {{ user.prenom }}</td>
                <td>{{ user.lastLogin | date('d-m-Y H:i') }}</td>
                <td>{{ user.getProjectsNbr() }}</td>
                <td>
                    <a style="text-decoration:none;" href="{{ path('app_projects_manager', { '_switch_user': user.email }) }}">
                        <button class="btn btn-success">Ouvrir</button>
                    </a>
                    <form class="" action="{{ path('manager_delete', { 'manager_id': user.id }) }}" method="post" style="display: inline;" onsubmit="return confirm('Attention ! Vous allez supprimer ce chef de projet !');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete_manager_' ~ user.id) }}">
                            <button type="submit" class="btn btn-danger" data-user-id="{{ user.id }}">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}
